<p style="text-align: center; background-color: #252525;">
  <a href="{{site.baseurl}}/">Introduction</a> |
  <a href="{{site.baseurl}}/team.html">Team</a> | 
  <a href="{{site.baseurl}}/hardware.html">Hardware</a> | 
  <a href="{{site.baseurl}}/software_overview.html">Software Overview</a> | 
  <a href="{{site.baseurl}}/software_setup.html">Software Setup</a> | 
  <a href="{{site.baseurl}}/computer_vision.html">Computer Vision</a> | 
  <a href="{{site.baseurl}}/collision_avoidance.html">Collision Avoidance</a> | 
  <a href="{{site.baseurl}}/web_interface.html">Web Interface</a> | 
  <a href="{{site.baseurl}}/imu.html">Odometry</a> | 
  <a href="{{site.baseurl}}/behavior.html">Behavioral Control</a> | 
  <a href="{{site.baseurl}}/mapping.html">Mapping</a> | 
  <a href="{{site.baseurl}}/learning_next_steps.html">Learning and Next Steps</a> | 
</p>
